<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.assignmentMapper">

    <select id="selectAssignById" resultType="com.Domains.Assignment" parameterType="int">
    select  * from assignment where assignmentID=#{index}
  </select>

    <select id="selectAssignFromPb" resultType="com.Domains.Assignment" parameterType="String">
    select  * from assignment where assignmentPber=#{index}
  </select>




   <!-- <select id="selectDistinctByName" parameterType="String" resultType="com.Domains.User">
        select * from usertable where userCount=#{index}
    </select>-->

    <!--<select id="selectTestByname" parameterType="String" resultType="String">
        select noticeTitle from notice where noticeTitle like "%"#{index}"%" limit 5
    </select>-->



</mapper>