<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.classAssoWorkMapper">

    <select id="selectAllDone" resultType="com.Domains.ClassAssoAssi" parameterType="String">
        select * from classAssoAssi where classAssoAssiClNum=classAssoAssiSubNum
  </select>
    
    <select id="selectWorkID" parameterType="String" resultType="String">
        select classAssoAssiWork from classAssoAssi where classAssoAssiClass=#{index}
    </select>

    <select id="selectWorkingByDesc" resultType="com.Domains.ClassAssoAssi" parameterType="String">
        select * from classAssoAssi where classAssoPub=#{index} and classAssoAssiStatus="unremark"
          ORDER BY classAssoAssiLastModiTime desc LIMIT 5
    </select>

    <select id="selectWorkedByDesc" resultType="com.Domains.ClassAssoAssi" parameterType="String">
        select * from classAssoAssi where classAssoPub=#{index} and classAssoAssiStatus="remark"
          ORDER BY classAssoAssiLastModiTime desc LIMIT 5
    </select>

    <select id="selectAllClass" resultType="String" parameterType="String">
        SELECT DISTINCT classAssoAssiClass FROM classAssoAssi where classAssoPub=#{index}
    </select>

    <select id="selectClassWorks" resultType="com.Domains.ClassAssoAssi" parameterType="com.Domains.ClassAssoAssi">
        select classAssoAssi.classAssoAssiID,assignment.assignmentName AS classAssoAssiWorkName  from classAssoAssi,assignment
        where classAssoAssiClass=#{classAssoAssiClass} and classAssoPub=#{classAssoPub} and assignmentID=classAssoAssiWork
         ORDER BY classAssoAssiLastModiTime desc
    </select>

    <select id="remarkOverView" resultType="com.Domains.ClassAssoAssi" parameterType="int">
            select * from classAssoAssi where classAssoAssiID=#{index}
    </select>

    <select id="selectCorrateByc" parameterType="String" resultType="String">
        SELECT corrate from corrate where corrateType="c" AND corrateRelate IN
        <foreach collection="array" item="cor" index="index" open="(" close=")" separator=",">
            #{cor}
        </foreach>
    </select>

    <select id="selectCorrateBys" parameterType="String" resultType="String">
        SELECT corrate from corrate where corrateType="s" AND corrateRelate IN
        <foreach collection="array" item="cor" index="index" open="(" close=")" separator=",">
            #{cor}
        </foreach>
    </select>




</mapper>