<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.messageNoticesMapper">

    <!--查询所有未读消息个数-->
    <select id="selectAllCountBefore" resultType="Integer" parameterType="com.Domains.messageNotices">
        select count(*) from messagenotices where messageTo=#{messageTo} and messageType=#{messageType} and messageStatus='before'
    </select>

    <!--查询所有消息_按时间降序排序-->
    <select id="selectAllMessagesByReceiver" resultType="com.Domains.messageNotices" parameterType="String">
        select * from messagenotices where messageTo=#{index} order by messageTime desc
    </select>

    <!--查询所有通知_按时间降序排序-->
    <select id="selectAllNoticesByReceiver" resultType="com.Domains.messageNotices" parameterType="String">
        select * from messagenotices where messageTo=#{index} and messageType='notice' order by messageTime desc
    </select>

    <!--查询所有反馈_按时间降序排序-->
    <select id="selectAllFeedbackByReceiver" resultType="com.Domains.messageNotices" parameterType="String">
        select * from messagenotices where messageTo=#{index} and messageType='feedback' order by messageTime desc
    </select>

    <!--查询所有广播_按时间降序排序-->
    <select id="selectAllBroadcastByReceiver" resultType="com.Domains.messageNotices" parameterType="String">
        select * from messagenotices where messageTo=#{index} and messageType='broadcast' order by messageTime desc
    </select>

    <!--查询所有系统消息_按时间降序排序-->
    <select id="selectAllSystemByReceiver" resultType="com.Domains.messageNotices" parameterType="String">
        select * from messagenotices where messageTo=#{index} and messageType='systemMessage' order by messageTime desc
    </select>

    <select id="selectAfterTest" resultType="com.Domains.messageNotices" parameterType="String">
        select * from messagenotices where messageTo=#{index} and messageType='notice' and messageStatus='after' order by messageTime desc
    </select>


</mapper>