<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.noticeMapper">

    <select id="selectNotice" resultType="com.Domains.Notice" parameterType="String">
    select * from notice where noticeTitle=#{index}
  </select>

    <select id="selectAllNoticesByTime" resultType="com.Domains.Notice">
        select * from notice where noticeType='broadcast' order by noticeDate desc limit 5
    </select>

    <select id="selectAllSystemByTime" resultType="com.Domains.Notice">
        select * from notice where noticeType='systemMessage' order by noticeDate desc limit 5
    </select>

</mapper>