<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.sanswerMapper">

    <select id="selectDisAnsFrOCC" resultType="com.Domains.Sanswer" parameterType="com.Domains.Sanswer">
        select * from sanswer where sanswerFromW=#{sanswerFromW}  and sanswerOwn=#{sanswerOwn}
         and sanswerClass=#{sanswerClass}
  </select>
    <select id="selectSingles" resultType="com.Domains.Singles" parameterType="com.Domains.Singles">
select sanswer.sanswerID, shortquestion.shortQuestionTitle,
shortquestion.shortQuestionAnswer, sanswer.sanswerContent,sanswer.sanswerTime,
sanswer.sanswerOwn,sanswer.sanswerClass, student.stuName ,sanswer.sanswerStatus,
sanswer.sanswerScore from shortquestion,sanswer,student where
sanswer.sanswerClass=#{sanswerClass} AND sanswer.sanswerFromAss=#{sanswerFromAss}  AND
sanswer.sanswerFromAss=shortquestion.shortQuestionID AND
sanswer.sanswerOwn=student.stuNum
    </select>

    <select id="selectSinglesInChoose" resultType="com.Domains.Singles" parameterType="com.Domains.Singles">
SELECT thanswer.thanswerId AS "sanswerID",  themeofoption.themeOfOptionTitle
AS "shortQuestionTitle",themeofoption.themeOfOptionAnswer AS
"shortQuestionAnswer", thanswer.thanswerContent AS "sanswerContent",
thanswer.thanswerOwn AS "sanswerOwn",thanswer.thanswerClass AS
"sanswerClass",student.stuName,thanswer.thanswerStatus AS "sanswerScore"
from thanswer,student,themeofoption where thanswer.thanswerClass=#{sanswerClass}
AND thanswer.thanswerFromAss=#{sanswerFromAss} AND thanswer.thanswerFromAss=themeofoption.themeOfOptionId
AND thanswer.thanswerOwn=student.stuNum
    </select>

    
   <select id="selectComplete" parameterType="com.Domains.domainComplete" resultType="com.Domains.completeBack">
       select sanswer.sanswerID, shortquestion.shortQuestionTitle,shortquestion.shortQuestionAnswer
       ,sanswer.sanswerContent,student.stuName,student.stuClass
       from shortquestion,sanswer,student WHERE sanswer.sanswerFromAss=shortquestion.shortQuestionID
       AND sanswer.sanswerClass=#{gclass}
       AND sanswer.sanswerOwn=student.stuNum AND
       student.stuNum=#{number}
   </select>

    <!--<select id="selectCopy" resultType="com.Domains.Sanswer" parameterType="String">
        select * from `sanswer`
        where sanswerContent in (select sanswerContent from  `sanswer` group by sanswerContent having count(sanswerContent) > 1)  and sanswerFromW=#{index}
    </select>-->



</mapper>