<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.shortQuestionMapper">

    <select id="selectDistinQues" resultType="com.Domains.Shortquestion" parameterType="int">
        select * from shortquestion where shortQuestionID in
        <foreach collection="array" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
  </select>




   <!-- <select id="selectDistinctByName" parameterType="String" resultType="com.Domains.User">
        select * from usertable where userCount=#{index}
    </select>-->

    <!--<select id="selectTestByname" parameterType="String" resultType="String">
        select noticeTitle from notice where noticeTitle like "%"#{index}"%" limit 5
    </select>-->



</mapper>